<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<servers>
    <server>
      <username>dev-services</username>
      <password>xxx</password>
      <id>symphony</id>
    </server>
    <server>
      <username>dev-services</username>
      <password>xxx</password>
      <id>snapshots</id>
    </server>
    <server>
      <username>dev-services</username>
      <password>xxx</password>
      <id>plugins-snapshots</id>
    </server>
    <server>
      <username>dev-services</username>
      <password>xxx</password>
      <id>sbe-local-dev</id>
    </server>
    <server>
      <username>dev-services</username>
      <password>xxx</password>
      <id>symdocker</id>
    </server>
  </servers>
</settings>
